VITE_SUPABASE_URL=https://srhybjzmkyhwyohtgjzv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNyaHlianpta3lod3lvaHRnanp2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY0NTgxNTcsImV4cCI6MjA5MjAzNDE1N30.imo02hQMjXDWAEj35NFzW25iJ2CJx7bCA9n5ETmFz_I
VITE_API_URL=https://ai-sales-assistant-b2sc.onrender.com
VITE_SENTRY_DSN=https://81220d9b61e792024bb8034d14bdf0d5@o4511279702081536.ingest.de.sentry.io/4511279785508944